body {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); 

}
.done-task {color: #FFF;text-align: center;}

input {background-color: #FFF; border-radius:5px;  height:20px;width: 70%;border: none;padding:3px;}

button {
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
border-radius:5px;
border: none;
height:26px;
width:40px;
padding: 3px;
margin:5px;
color: #FFF;
}

button:hover {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 40%, #C850C0 86%, #FFCC70 100%);
}

h1, h2, h3, h4, h5, h6, h6, p, ul, li {
    color:#FFF;
    text-align: left !important; 
    font-family: 'Roboto Condensed', sans-serif; }


/*div {min-width: 400px;} */
#download {
    font-size: 15px;
    font-weight: bolder;
    padding-bottom: 3px;
    color: #FFF;
}

/* CSS Grid */
.container {
    display: grid;
    grid-template-columns: 25% 55% 20%;
    grid-template-rows: 20% 10% 70%;
    gap: 5% 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". title ."
      ". controls ."
      ". listArea .";
      height: 100vh;
  }
  
  .title { grid-area: title; margin-top: 20px; }
  
  .controls { grid-area: controls; }
  
  .listArea { grid-area: listArea; }
  

  /* media Query */ 
  @media screen and (min-width: 720px) {
    .container {        grid-template-columns: 25% 50% 25% !important;  }
  }

  @media screen and (max-width: 719px) {
    .container {        
        grid-template-columns: 5% 90% 5% !important;
        grid-template-rows: 30% 10% 50% !important;
      }
    
  }